<ul class="pages-display">
  <li class="active-li" id="li-0">
    <div class="circle"></div><div class="page-name">Personal Information</div>
  </li>
  <div class="grow"></div>
  <li id="li-1">
    <div class="circle"></div><div class="page-name">Tenant History</div>
  </li>
  <div class="grow"></div>
  <li id="li-2">
    <div class="circle"></div><div class="page-name">
      Prev. Rental Information
    </div>
  </li>
  <div class="grow"></div>

  <li id="li-3">
    <div class="circle"></div><div class="page-name">Misc. Information</div>
  </li>
</ul>
